RewriteEngine On
RewriteCond "%{REQUEST_URI}" "categorie"
RewriteRule "categorie/([a-z]+)" "index.php?categorie=$1"
RewriteRule "categorie/([a-z]+)/([0-9]+)" "index.php?categorie=$1&id=$2"
RewriteCond "%{REQUEST_URI}" "!index.php"