RewriteEngine On
RewriteCond "%{REQUEST_URI}" "categorie"
RewriteRule "categorie/([a-z]+)" "index.php?categorie=$1"
RewriteCond "%{REQUEST_URI}" "categorie"
RewriteRule "categorie/([a-z]+)/([1-9]+)" "index.php?categorie=$1&id=$2"   